.form {
  border-radius: 30px;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  background: var(--color-back);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(38, 38, 38, 0.1);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.filtersSearch {
  width: 100%;
}

.filtersSearch input {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.sorting {
  position: relative;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sortingContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
}
.sortingContainer:focus-within {
  outline: auto;
}

.sortingLabel {
  color: var(--color-black);
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 30px;
  background-color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: capitalize;

  cursor: pointer;

  transition: color var(--animation-cubicBezier),
    background-color var(--animation-cubicBezier);
}

.sortingLabel:hover {
  color: var(--color-white);
  background-color: var(--color-main);
}

.sortingInput:checked + .sortingLabel {
  color: var(--color-white);
  background-color: var(--color-main);
}

.sortingIcon {
  display: none;
  stroke: var(--color-white);
}

.sortingInput:checked + .sortingLabel .sortingIcon {
  display: block;
}

div.selectContainer {
  width: calc((100% - 12px) / 2);
  height: 42px;
}

div.inputContainer {
  width: 100%;
  height: 42px;
}

div.selectControl {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 30px;
  background: var(--color-white);
  border: 1px solid var(--color-white);
  outline: none;
  box-shadow: none;
}

div.selectControl:hover,
div.selectControl:focus-within {
  border-color: var(--color-main);
}

div.selectValueContainer {
  padding: 0;
}

div.singleValue {
  position: relative;
  padding-left: 12px;
  margin: 0;
  cursor: pointer;

  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--color-black);
}

div.singleValuePlaceholder {
  color: var(--color-placeholder);
}

div.dropdownIndicator {
  padding: 12px;
  fill: transparent;
  stroke: var(--color-black);
  cursor: pointer;
}

div.selectControl:hover div.dropdownIndicator {
  stroke: var(--color-main);
}

div.selectControl:focus-within div.dropdownIndicator {
  stroke: var(--color-main);
  transform: rotate(180deg);
}

div.clearIndicator {
  padding: 12px;
  fill: transparent;
  stroke: var(--color-black);
  cursor: pointer;
}

div.clearIndicator:hover {
  stroke: var(--color-main);
}

div.inputInput {
  margin: 0;
  padding: 0 12px;
}

div.menu {
  margin-top: 4px;
  padding: 12px 6px 12px 12px;
  margin-bottom: 0;
  border-radius: 15px;
  background: var(--color-white);
  overflow: hidden;
  box-shadow: none;
}

div.menuList {
  padding: 0;
  max-height: 216px;
}

div.menuList::-webkit-scrollbar {
  background: rgba(38, 38, 38, 0.08);
  width: 8px;
  border-radius: 13px;
}

/* Handle */
div.menuList::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 13px;
}

/* Handle on hover */
div.menuList::-webkit-scrollbar-thumb:hover {
  background: var(--color-main-active);
}

div.option {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: rgba(38, 38, 38, 0.6);
  padding: 0;
  margin-bottom: 8px;
  background-color: transparent;
}

div.option:last-child {
  margin-bottom: 0;
}

div.optionSelected {
  color: var(--color-main);
}

div.option:hover {
  background-color: var(--color-back);
}

@media (min-width: 768px) {
  .form {
    padding: 40px 32px;
    margin-top: 44px;
  }

  .filters {
    gap: 16px;
  }

  .filtersSearch {
    width: 265px;
  }
  .sorting {
    gap: 8px;
  }

  .sortingContainer {
    height: 48px;
  }

  .sortingLabel {
    height: 48px;
    font-size: 16px;
    line-height: 125%;
    padding: 14px;
    gap: 8px;
  }

  div.selectContainer {
    width: 170px;
    height: 48px;
  }

  div.singleValue {
    padding-left: 14px;
    font-size: 16px;
    line-height: 125%;
  }

  div.inputInput {
    padding: 0 14px;
  }

  div.dropdownIndicator {
    padding: 14px;
  }

  div.menu {
    padding: 14px 7px 14px 14px;
  }
  div.option {
    font-size: 16px;
    line-height: 125%;
  }

  div.inputContainer {
    width: 265px;
    height: 48px;
  }
}

@media (min-width: 1280px) {
  .form {
    padding: 40px;
    margin-top: 40px;
  }

  div.selectContainer {
    width: 200px;
    height: 48px;
  }
}
