@import './styles/reset.css';
@import '../node_modules/modern-normalize/modern-normalize.css';
@import './styles/fonts.css';
@import './styles/variables.css';

main {
  background-color: var(--color-white-bg);
}

/* Customize scrollbar*/

/* ul::-webkit-scrollbar {
  background: var(--color-input-border);
  width: 8px;
  border-radius: 8px;
} */

/* Handle */
/* ul::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 8px;
} */

/* Handle on hover */
/* ul::-webkit-scrollbar-thumb:hover {
  background: var(--color-main-active);
} */
