.form {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 56px 12px 12px;
  height: 42px;
  border: 1px solid var(--color-input-border);
  border-radius: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: var(--color-black);
  outline: none;

  transition: border-color var(--animation-cubicBezier);
}

.input:hover,
.input:focus {
  border-color: var(--color-main);
}

.input::placeholder {
  color: var(--color-placeholder);
}

.submitBtn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: none;
  stroke: var(--color-black);

  transition: stroke var(--animation-cubicBezier);
}

.submitBtn:hover,
.submitBtn:focus {
  stroke: var(--color-main);
}

.resetBtn {
  position: absolute;
  bottom: 12px;
  right: 34px;
  display: flex;
  justify-content: center;
  align-items: center;

  stroke: var(--color-black);

  transition: stroke var(--animation-cubicBezier);
}

.resetBtn:hover,
.resetBtn:focus {
  stroke: var(--color-main);
}

@media (min-width: 768px) {
  .form {
    width: 230px;
  }

  .input {
    height: 48px;
    padding: 14px 58px 14px 14px;

    font-size: 16px;
    line-height: 125%;
  }

  .submitBtn {
    bottom: 15px;
  }

  .resetBtn {
    bottom: 15px;
  }
}
